<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
	<dict>
		<key>photo</key>
		<data>bm8gcGhvdG9z</data>
		<key>niName</key>
		<string>Ama.Qiu</string>
		<key>gregorianCalendar</key>
		<string>2016/12/07</string>
		<key>lunarCalendar</key>
		<string>丙申年冬月初九</string>
		<key>alarmDate</key>
		<date>2016-12-07T09:19:23Z</date>
		<key>remark</key>
		<string>Happy birthday! 🎂🎂🎂</string>
	</dict>
</array>
</plist>
